.noisemaker {
  position: relative;
}

.noisemaker::before {
  content: "";
  z-index: -1;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgb(52,53,49);
  background: -moz-linear-gradient(90deg, rgba(52,53,49,1) 0%, rgba(34,35,31,1) 5%, rgba(34,35,31,1) 98%, rgba(52,53,49,1) 100%);
  background: -webkit-linear-gradient(90deg, rgba(52,53,49,1) 0%, rgba(34,35,31,1) 5%, rgba(34,35,31,1) 98%, rgba(52,53,49,1) 100%);
  background: linear-gradient(90deg, rgba(52,53,49,1) 0%, rgba(34,35,31,1) 5%, rgba(34,35,31,1) 98%, rgba(52,53,49,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#343531",endColorstr="#343531",GradientType=1);
  transform: translateY(10px);
  border-radius: 12px;
  box-shadow: 0.6px 0.6px 0.6px rgba(0, 0, 0, 0.028),
    1.3px 1.3px 1.3px rgba(0, 0, 0, 0.04), 2.5px 2.5px 2.5px rgba(0, 0, 0, 0.05),
    4.5px 4.5px 4.5px rgba(0, 0, 0, 0.06),
    8.4px 8.4px 8.4px rgba(0, 0, 0, 0.072), 20px 20px 20px rgba(0, 0, 0, 0.1);
}
